data/product-list-pojo-schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:import namespace="http://www.w3.org/1999/xlink"
               schemaLocation="xlink.xsd"/>
    <xs:element name="PRODUCTList">
        <xs:complexType mixed="true">
            <xs:sequence>
                <xs:element name="PRODUCT" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType mixed="true">
                        <xs:simpleContent>
                            <xs:extension base="xs:byte">
                                <xs:attribute name="href"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>